# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

In [ ]:
SELECT customer_id, SUM(amount) AS amount FROM payment
where staff_id = 2 
GROUP BY customer_id,staff_id
HAVING SUM(amount) >= 110
ORDER BY customer_id

# <b> Question 2 :  How many films begin with the letter J?

In [ ]:
SELECT COUNT(title) FROM film
WHERE title LIKE 'J%'

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

In [ ]:
SELECT customer_id, first_name, address_id FROM customer
WHERE first_name LIKE 'E%'
GROUP BY customer_id
HAVING address_id < 500
ORDER BY customer_id DESC